@{
    ViewData["Title"] = "Home page";
}
<div  style="border: 2px solid black; overflow: auto;" class="text-center">
    <br>
    <h1 style="background-color:white;" class="display-4"><u>Azure</u></h1>
    <br>
    <br>
    <div class="col-lg-6" style="  border-top: 10px solid black;width:auto;display:flex;background:rgb(2, 46, 61);">
        <div class="p-4 d-flex flex-column position-static" style="width: 100%; height: 100%;">
            <div class="card mb-12" style="width: 100%; height: 100%;">
                <div style="overflow: auto" class="card-body">
                    <h1 class="display-6">Welcome to ASP.NET DevOps: Azure</h1>
                    <div class="row">
                        <div style="width:100%;border: 2px solid black;" class="col-md-4">
                            <h5 class="card-title">What is Azure?</h5>
                                <p style="max-width:auto;" class="card-text">
                                Azure is a cloud platform that offers a variety of services and solutions for building, deploying, and managing applications. 
                                Azure can help you create applications that are scalable, reliable, and secure, using the tools and frameworks of your choice. 
                                Azure also supports .NET, a popular and powerful programming platform that enables you to write code in C#, F#, or Visual Basic, 
                                and run it on any operating system, device, or browser. It hosts many services which can be used for free when signing up with the free account. You can use Azure Virtual Machines,
                                Azure SQL Database, Azure Blob Storage, Azure Cosmos DB, Azure App Service, Azure Functions, & Azure Event Grid. These cloud services are more secure,
                                more cost-effective, and more interopability as they are support frameworks like:
                                ASP.NET, Azure Spring Apps, C#, Java, JavaScript, PHP, Python, Ruby, and <a href="https://azure.microsoft.com/en-us/resources/understanding-app-development-search?ef_id=_k_e6513c3ca3b6131742e4594e2e569a4f_k_&OCID=AIDcmme9zx2qiz_SEM__k_e6513c3ca3b6131742e4594e2e569a4f_k_&msclkid=e6513c3ca3b6131742e4594e2e569a4f">more</a>.                
                                </p>
                            <p>To make an account and get familiar with these services, head to their site: <a href="https://azure.microsoft.com/en-us/">Azure Site</a></p>
                            <br>
                        </div>
                        <div style="width:100%;border: 2px solid black;" class="col-md-4">
                            <h5 class="card-title">What is .NET?</h5>
                            <p style="max-width:auto;" class="card-text">
                                .NET is a modern and open-source framework that offers high performance and scalability for web applications. 
                                According to the <a href="https://www.techempower.com/benchmarks/#hw=ph&test=fortune&section=data-r22">Web 
                                Framework Benchmarks</a>, .NET ranks among the top frameworks in terms of speed and efficiency, outperforming many other popular frameworks 
                                such as Ruby on Rails, Django, Laravel, and Spring. .NET also has a lightweight and optimized version called .NET Core, which is even 
                                faster than the full .NET Framework. According to some <a href="https://softwarehut.com/blog/tech/net-core-vs-net-framework-testing-performance">tests</a>, 
                                .NET Core can be up to 13 times faster than .NET Framework, depending on 
                                the CPU architecture and the type of operation. .NET Core also has a more flexible and secure deployment model, which allows it to run 
                                on multiple platforms such as Windows, Linux, and macOS. .NET and .NET Core are both powerful tools that can help you create fast and 
                                reliable web applications.
                            </p>
                            <p>To learn more about .NET, check the following link: <a href="https://learn.microsoft.com/en-us/dotnet/">.NET Documentation</a></p>
                            <br>
                        </div>
                        <div style="width:100%;border: 2px solid black;" class="col-md-4">
                            <h5 class="card-title">Azure & .NET</h5>
                            <p style="max-width:auto;" class="card-text">
                                .NET and Azure work together to provide you with a rich development experience, a comprehensive set of libraries and APIs, and 
                                seamless integration with other Azure services. One of the benefits of using .NET and Azure is that you can leverage various 
                                .NET libraries that extend the functionality and capabilities of your applications. Some of these libraries are: 
                                <table  style="border: 2px solid black;" class="text-center">
                                    <tr style="border: 2px solid black;">
                                        <th>Name</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr style="border: 2px solid black;">
                                        <td style="border: 2px solid black;">Entity Core</td>
                                        <td>Entity Core is a lightweight and extensible version of the Entity Framework, an object-relational mapper (ORM) that 
                                            enables you to work with relational databases using .NET objects. Entity Core can help you simplify data access, query 
                                            performance, and code maintenance</td>
                                    </tr>
                                    <tr style="border: 2px solid black;">
                                        <td style="border: 2px solid black;">QuestPDF</td>
                                        <td>QuestPDF is a modern and open-source .NET library for PDF generation. It offers a comprehensive layout engine and a 
                                            fluent API that allows you to design and compose PDF documents using C# code. You can use QuestPDF to create reports, 
                                            invoices, forms, and other types of PDF documents for your applications. You can also integrate QuestPDF with Azure Blob 
                                            Storage, Azure Functions, or Azure App Service to store, process, or deliver your PDF documents.</td>
                                    </tr>
                                    <tr style="border: 2px solid black;">
                                        <td style="border: 2px solid black;">IKVM.NET</td>
                                        <td>IKVM.NET is a .NET library that enables interoperability between Java and .NET. It allows you to run Java code on the 
                                            .NET runtime, and vice versa. You can use IKVM.NET to reuse existing Java libraries or applications in your .NET projects, 
                                            or to migrate your Java code to .NET. You can also use IKVM.NET with Azure services that support Java or .NET, such as 
                                            Azure App Service, Azure Functions, or Azure Kubernetes Service.</td>
                                    </tr>
                                </table>
                                <br>
                                Using these .NET libraries with Azure can help you enhance your applications with additional features, functionality, and performance. You 
                                can also explore other .NET libraries that are compatible with Azure, such as Azure SDK for ML.NET, NUnit, etc. NuGet is a great place to find
                                packages like these, and it is even where most of these packages originate.    
                            </p>
                            <p>Click here to see checkout the NuGet Site: <a href="https://www.nuget.org/">NuGet Site</a></p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>