@{
    ViewData["Title"] = "Home";
}
<div  style="border: 2px solid black; overflow: auto;" class="text-center">
    <br>
    <h1 style="background-color:white;" class="display-4"><u>ASP.NET DevOps: A Practical Guide</u></h1>
    <br>
    <br>
    <div style="background-color:black;" class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6" style=" overflow: auto; margin-top:10px;min-width:200px;width:auto;height:auto;min-height:450px;background:rgb(2, 46, 61);">
                <div class="p-4 d-flex flex-column position-static" style="width: 100%; height: 100%;">
                    <div class="card mb-4" style="width: 100%; height: 100%;">
                        <div style="overflow: auto" class="card-body">
                            <h1 class="display-6">Welcome to ASP.NET DevOps: A Practical Guide</h1>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card mb-4" style="border: 2px solid black;height: 100%;">
                                        <div class="card-body">
                                            <h5 class="card-title">Git</h5>
                                            <p class="card-text">
                                                Learn how to use Git, a distributed version control system, to manage your code
                                                and collaborate with others. Git is essential for DevOps, as it allows you to track
                                                changes, branch, merge, and deploy your code efficiently and reliably.
                                            </p>
                                            <a asp-controller="DevOps_Site" asp-action="Git_GitHub">Git & GitHub</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mb-4" style="border: 2px solid black;height: 100%;">
                                        <div class="card-body">
                                            <h5 class="card-title">APIs</h5>
                                            <p class="card-text">
                                                Learn how to create and consume APIs, or application programming interfaces, 
                                                using ASP.NET. APIs are the backbone of modern web development, as they allow you
                                                to expose and access data and functionality across different applications and platforms.
                                            </p>
                                            <p>Go to APIs Page</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mb-4" style="border: 2px solid black;height: 100%;">
                                        <div class="card-body">
                                            <h5 class="card-title">Scripts</h5>
                                            <p class="card-text">
                                                Placeholder
                                            </p>
                                            <p>Go to Scripts Page</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
