@{
    ViewData["Title"] = "Home page";
}
<div  style="border: 2px solid black; overflow: auto;" class="text-center">
    <br>
    <h1 style="background-color:white;" class="display-4"><u>APIs</u></h1>
    <br>
    <br>
    <div class="col-lg-6" style="  border-top: 10px solid black;width:auto;display:flex;background:rgb(2, 46, 61);">
        <div class="p-4 d-flex flex-column position-static" style="width: 100%; height: 100%;">
            <div class="card mb-12" style="width: 100%; height: 100%;">
                <div style="overflow: auto" class="card-body">
                    <h1 class="display-6">Welcome to ASP.NET DevOps: APIs</h1>
                    <div class="row">
                        <div style="border: 2px solid black;width:100%" class="col-md-4">
                            <h5 class="card-title">What are APIs?</h5>
                            <p style="max-width:auto;" class="card-text">
                                APIs, or Application Programming Interfaces, are sets of rules and protocols that allow different 
                                software components to communicate and exchange data. They are essential for building scalable, 
                                reliable, and secure web applications.
                            </p>
                            <p>freeCodeCamp.org provides a comprehensive introduction to APIs: <a href="https://www.freecodecamp.org/news/apis-for-beginners-full-course/">APIs Site</a></p>
                            <br>
                            <br>
                        </div>
                        <div style="border: 2px solid black;width:100%" class="col-md-4">
                            <h5 class="card-title">Using APIs with .NET</h5>
                            <p style="max-width:auto;" class="card-text">
                                .NET provides a rich set of APIs that are freely accessible through NuGet and the .NET Base Class 
                                Library (BCL). These APIs can be used to perform a wide range of tasks, from accessing databases and 
                                handling file I/O, to sending HTTP requests and implementing authentication and authorization.
                            </p>
                            <p>This link takes you to the .NET documentation and goes over a tutorial on how to get started making a minimal API using .NET: <a href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/min-web-api?view=aspnetcore-8.0&tabs=visual-studio">.NET APIs Site</a></p>
                            <br>
                            <br>
                        </div>
                        <div style="border: 2px solid black;width:100%" class="col-md-4">
                            <h5 class="card-title">Azure APIs</h5>
                            <p style="max-width:auto;" class="card-text">
                                Azure offers a variety of services that can help with the pipelining process and enable developers to 
                                host their applications with security, uptime, and scalability in mind. Azure APIs allow developers to 
                                interact with these services and integrate them into their applications.
                            </p>
                            <p>Checkout this link to learn about Azure API Services : <a href="https://azure.microsoft.com/en-us/products/api-management/?ef_id=_k_071b02f763121dec82a26780062de1bf_k_&OCID=AIDcmm5edswduu_SEM__k_071b02f763121dec82a26780062de1bf_k_&msclkid=071b02f763121dec82a26780062de1bf">Azure APIs Site</a></p>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>